In [19]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np

In [57]:
df=pd.read_csv('mexico_original.csv')
df.info

<bound method DataFrame.info of                         id                                       listing_url  \
0                    35797                https://www.airbnb.com/rooms/35797
1                    44616                https://www.airbnb.com/rooms/44616
2                    67703                https://www.airbnb.com/rooms/67703
3                    70644                https://www.airbnb.com/rooms/70644
4                   131610               https://www.airbnb.com/rooms/131610
...                    ...                                               ...
26276  1318906185008171760  https://www.airbnb.com/rooms/1318906185008171760
26277  1318960023050066631  https://www.airbnb.com/rooms/1318960023050066631
26278  1318997244771691320  https://www.airbnb.com/rooms/1318997244771691320
26279  1319078571963617776  https://www.airbnb.com/rooms/1319078571963617776
26280  1319509843525848258  https://www.airbnb.com/rooms/1319509843525848258

            scrape_id last_scraped           source  \
0      20241227033128   2024-12-27      city scrape
1      20241227033128   2024-12-28      city scrape
2      20241227033128   2024-12-28      city scrape
3      20241227033128   2024-12-27      city scrape
4      20241227033128   2024-12-28  previous scrape
...               ...          ...              ...
26276  20241227033128   2024-12-28      city scrape
26277  20241227033128   2024-12-27      city scrape
26278  20241227033128   2024-12-27      city scrape
26279  20241227033128   2024-12-28      city scrape
26280  20241227033128   2024-12-28      city scrape

                                                    name  \
0                                            Villa Dante
1                                           Condesa Haus
2                      2 bedroom apt. deco bldg, Condesa
3       Beautiful light Studio Coyoacan- full equipped !
4                                         MARIA DEL ALMA
...                                                  ...
26276                             Suite Dumas Polanco 8D
26277                     Departamento amueblado en CDMX
26278                         hospedaje en Coyoacán CDMX
26279            3 recámaras 3 baños con estacionamiento
26280  Loft ejecutivo junto a Reforma y a pasos del Á...

                                             description  \
0      Dentro de Villa un estudio de arte con futon, ...
1      A new concept of hosting in mexico through a b...
2      Comfortably furnished, sunny, 2 bedroom apt., ...
3      COYOACAN designer studio quiet & safe! well eq...
4                                                    NaN
...                                                  ...
26276  You will love this adorable place to stay, kin...
26277  Enjoy a cozy condominium in the heart of Mexic...
26278  Relax with the whole family in this accommodat...
26279  It has: High Speed Internet, Equipped Kitchen,...
26280  Stylish and comfortable Loft a few steps from ...

                                   neighborhood_overview  \
0      Santa Fe Shopping Mall, Interlomas Park and th...
1                                                    NaN
2                                                    NaN
3      Coyoacan is a beautiful neighborhood famous fo...
4                                                    NaN
...                                                  ...
26276                                                NaN
26277                                                NaN
26278                                                NaN
26279  La Escandón II is a lively neighborhood, known...
26280                                                NaN

                                             picture_url    host_id  ...  \
0      https://a0.muscache.com/pictures/f395ab78-1185...     153786  ...
1      https://a0.muscache.com/pictures/251410/ec75fe...     196253  ...
2      https://a0.muscache.com/pictures/3281720/6f078...     334451  ...
3      https://a0.muscache.com/pictures/f397d2da-d045...     212109  ...
4      https://a0.muscache.com/pictures/837085/b9ed71...     647454  ...
...                                                  ...        ...  ...
26276  https://a0.muscache.com/pictures/hosting/Hosti...  369403303  ...
26277  https://a0.muscache.com/pictures/prohost-api/H...  525554527  ...
26278  https://a0.muscache.com/pictures/hosting/Hosti...  293574406  ...
26279  https://a0.muscache.com/pictures/miso/Hosting-...   35255741  ...
26280  https://a0.muscache.com/pictures/miso/Hosting-...  333035396  ...

      review_scores_communication review_scores_location review_scores_value  \
0                             NaN                    NaN                 NaN
1                            4.78                   4.98                4.48
2                            4.92                   4.98                4.92
3                            4.98                   4.96                4.92
4                             NaN                    NaN                 NaN
...                           ...                    ...                 ...
26276                         NaN                    NaN                 NaN
26277                         NaN                    NaN                 NaN
26278                         NaN                    NaN                 NaN
26279                         NaN                    NaN                 NaN
26280                         NaN                    NaN                 NaN

      license instant_bookable calculated_host_listings_count  \
0         NaN                f                              1
1         NaN                f                              8
2         NaN                f                              2
3         NaN                f                              3
4         NaN                f                              3
...       ...              ...                            ...
26276     NaN                t                             12
26277     NaN                t                              1
26278     NaN                t                              8
26279     NaN                t                             31
26280     NaN                t                            183

      calculated_host_listings_count_entire_homes  \
0                                               1
1                                               4
2                                               2
3                                               2
4                                               1
...                                           ...
26276                                           0
26277                                           1
26278                                           0
26279                                          31
26280                                         182

      calculated_host_listings_count_private_rooms  \
0                                                0
1                                                1
2                                                0
3                                                1
4                                                2
...                                            ...
26276                                           12
26277                                            0
26278                                            5
26279                                            0
26280                                            1

      calculated_host_listings_count_shared_rooms reviews_per_month
0                                               0               NaN
1                                               0              0.40
2                                               0              0.31
3                                               0              0.84
4                                               0               NaN
...                                           ...               ...
26276                                           0               NaN
26277                                           0               NaN
26278                                           3               NaN
26279                                           0               NaN
26280                                           0               NaN

[26281 rows x 75 columns]>

In [58]:
colums = ['room_type',
'price',
'host_is_superhost',
'host_acceptance_rate',
'bathrooms',
'review_scores_cleanliness',
'host_identity_verified',
'instant_bookable',
'property_type']

data = df[colums]

data.head(3)

,room_type,price,host_is_superhost,host_acceptance_rate,bathrooms,review_scores_cleanliness,host_identity_verified,instant_bookable,property_type
0,Entire home/apt,"$4,044.00",f,NaN,1.0,NaN,t,f,Entire villa
1,Entire home/apt,"$18,000.00",t,92%,5.5,4.70,t,f,Entire home
2,Entire home/apt,"$2,123.00",t,56%,1.0,4.76,t,f,Entire rental unit

In [59]:
data.isnull().sum()

room_type                       0
price                        3815
host_is_superhost            1382
host_acceptance_rate         2773
bathrooms                    3804
review_scores_cleanliness    3297
host_identity_verified          3
instant_bookable                0
property_type                   0
dtype: int64

In [60]:
data['price'] = data['price'].replace('[\$,]', '', regex=True).astype(float)
data['host_acceptance_rate'] = data['host_acceptance_rate'].replace('%', '', regex=True).astype(float)

data['host_acceptance_rate'] = data['host_acceptance_rate'].fillna(round(data['host_acceptance_rate'].median(), 1))
data['price'] = data['price'].fillna(round(data['price'].median(), 1))
data['host_is_superhost'] = data['host_is_superhost'].fillna('f')
data['host_identity_verified'] = data['host_identity_verified'].fillna('f')
data['bathrooms'] = data['bathrooms'].fillna(method = 'ffill')
data['review_scores_cleanliness'] = data['review_scores_cleanliness'].fillna(round(data['review_scores_cleanliness'].mean(),1))

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['price'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_acceptance_rate'] = data['host_acceptance_rate'].replace('%', '', regex=True).astype(float)
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_acceptance_rate'] = data['host_acceptance_rate'].fillna(round(data['host_acceptance_rate'].median(), 1))
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['price'].fillna(round(data['price'].median(), 1))
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_is_superhost'] = data['host_is_superhost'].fillna('f')
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_identity_verified'] = data['host_identity_verified'].fillna('f')
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:8: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['bathrooms'] = data['bathrooms'].fillna(method = 'ffill')
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['bathrooms'] = data['bathrooms'].fillna(method = 'ffill')
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1194592416.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['review_scores_cleanliness'] = data['review_scores_cleanliness'].fillna(round(data['review_scores_cleanliness'].mean(),1))

In [61]:
data.isnull().sum()

room_type                    0
price                        0
host_is_superhost            0
host_acceptance_rate         0
bathrooms                    0
review_scores_cleanliness    0
host_identity_verified       0
instant_bookable             0
property_type                0
dtype: int64

**PRICE**

In [63]:
# data['price'] = data['price'].str.replace(r'[^0-9.-]', '', regex=True)
# data['price'] = data['price'].astype(float)

data['price'].head(10)

0     4044.0
1    18000.0
2     2123.0
3     1236.0
4     1114.0
5     4056.0
6      340.0
7     1777.0
8     4985.0
9     1150.0
Name: price, dtype: float64

**HOST_IS_SUPERHOST**

In [64]:
data['host_is_superhost'] = data['host_is_superhost'].replace({'t': '1'}, regex=False)
data['host_is_superhost'] = data['host_is_superhost'].replace({'f': '0'}, regex=False)
data['host_is_superhost'].head(10)

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\3374515474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_is_superhost'] = data['host_is_superhost'].replace({'t': '1'}, regex=False)
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\3374515474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_is_superhost'] = data['host_is_superhost'].replace({'f': '0'}, regex=False)

0    0
1    1
2    1
3    1
4    0
5    1
6    1
7    1
8    1
9    1
Name: host_is_superhost, dtype: object

In [65]:
data['host_is_superhost'] = data['host_is_superhost'].astype(float)

data['host_is_superhost'].info()

data['host_is_superhost'].head(5)

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: host_is_superhost
Non-Null Count  Dtype
--------------  -----
26281 non-null  float64
dtypes: float64(1)
memory usage: 205.4 KB

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\2223086394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_is_superhost'] = data['host_is_superhost'].astype(float)

0    0.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: host_is_superhost, dtype: float64

**HOST_ACCEPTANCE_RATE**

In [66]:
# data['host_acceptance_rate'] = data['host_acceptance_rate'].str.replace(r'[^0-9.-]', '', regex=True)
# data['host_acceptance_rate'] = data['host_acceptance_rate'].astype(float)
data['host_acceptance_rate'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: host_acceptance_rate
Non-Null Count  Dtype
--------------  -----
26281 non-null  float64
dtypes: float64(1)
memory usage: 205.4 KB

In [67]:
data['host_acceptance_rate'].head(5)

0    99.0
1    92.0
2    56.0
3    94.0
4    99.0
Name: host_acceptance_rate, dtype: float64

**BATHROOMS**

In [68]:
data['review_scores_cleanliness'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: review_scores_cleanliness
Non-Null Count  Dtype
--------------  -----
26281 non-null  float64
dtypes: float64(1)
memory usage: 205.4 KB

**REVIEW_SCORES_CLEANLINESS**

In [69]:
data['review_scores_cleanliness'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: review_scores_cleanliness
Non-Null Count  Dtype
--------------  -----
26281 non-null  float64
dtypes: float64(1)
memory usage: 205.4 KB

**HOST_IDENTITY_VERIFIED**

In [70]:
data['host_identity_verified'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: host_identity_verified
Non-Null Count  Dtype
--------------  -----
26281 non-null  object
dtypes: object(1)
memory usage: 205.4+ KB

In [71]:
data['host_identity_verified'] = data['host_identity_verified'].replace({'t': '1'}, regex=False)
data['host_identity_verified'] = data['host_identity_verified'].replace({'f': '0'}, regex=False)

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\3695207061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_identity_verified'] = data['host_identity_verified'].replace({'t': '1'}, regex=False)
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\3695207061.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_identity_verified'] = data['host_identity_verified'].replace({'f': '0'}, regex=False)

In [72]:
data['host_identity_verified'] = data['host_identity_verified'].astype(float)

data['host_identity_verified'].info()

data['host_identity_verified'].head(5)

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: host_identity_verified
Non-Null Count  Dtype
--------------  -----
26281 non-null  float64
dtypes: float64(1)
memory usage: 205.4 KB

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\633427885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['host_identity_verified'] = data['host_identity_verified'].astype(float)

0    1.0
1    1.0
2    1.0
3    1.0
4    0.0
Name: host_identity_verified, dtype: float64

**INSTANT_BOOKABLE**

In [73]:
data['instant_bookable'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: instant_bookable
Non-Null Count  Dtype
--------------  -----
26281 non-null  object
dtypes: object(1)
memory usage: 205.4+ KB

In [74]:
data['instant_bookable'] = data['instant_bookable'].replace({'f': '0'}, regex=False)
data['instant_bookable'] = data['instant_bookable'].replace({'t': '1'}, regex=False)

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1760842161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['instant_bookable'] = data['instant_bookable'].replace({'f': '0'}, regex=False)
C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\1760842161.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['instant_bookable'] = data['instant_bookable'].replace({'t': '1'}, regex=False)

In [75]:
data['instant_bookable'] = data['instant_bookable'].astype(float)
data['instant_bookable'].info()
data['instant_bookable'].head(10)

<class 'pandas.core.series.Series'>
RangeIndex: 26281 entries, 0 to 26280
Series name: instant_bookable
Non-Null Count  Dtype
--------------  -----
26281 non-null  float64
dtypes: float64(1)
memory usage: 205.4 KB

C:\Users\aresm\AppData\Local\Temp\ipykernel_16652\2726116854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['instant_bookable'] = data['instant_bookable'].astype(float)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    1.0
Name: instant_bookable, dtype: float64

**PROPERTY_TYPE**

**CREACIÓN DE LOS DATASETS**

In [76]:
#LOS REGISTROS DE LOS TIPOS DE CUARTO "ENTIRE HOME" Y "PRIVATE ROOM"
filtro1 = data[data['room_type'].isin(['Entire home/apt'])]

filtro1.to_csv("EntireHomeAptMex.csv")
filtro1

,room_type,price,host_is_superhost,host_acceptance_rate,bathrooms,review_scores_cleanliness,host_identity_verified,instant_bookable,property_type
0,Entire home/apt,4044.0,0.0,99.0,1.0,4.80,1.0,0.0,Entire villa
1,Entire home/apt,18000.0,1.0,92.0,5.5,4.70,1.0,0.0,Entire home
2,Entire home/apt,2123.0,1.0,56.0,1.0,4.76,1.0,0.0,Entire rental unit
3,Entire home/apt,1236.0,1.0,94.0,1.0,4.96,1.0,0.0,Entire rental unit
5,Entire home/apt,4056.0,1.0,97.0,5.0,4.84,1.0,0.0,Entire home
...,...,...,...,...,...,...,...,...,...
26274,Entire home/apt,1212.0,0.0,100.0,1.0,4.80,1.0,1.0,Entire rental unit
26275,Entire home/apt,22347.0,1.0,100.0,7.5,4.80,1.0,0.0,Entire home
26277,Entire home/apt,8897.0,0.0,100.0,1.0,4.80,1.0,1.0,Entire rental unit
26279,Entire home/apt,3125.0,1.0,100.0,3.0,4.80,1.0,1.0,Entire rental unit
26280,Entire home/apt,918.0,1.0,100.0,1.0,4.80,1.0,1.0,Entire rental unit

In [77]:
#LOS REGISTROS DE LOS TIPOS DE CUARTO 
filtro2 = data[data['room_type'].isin(['Private room'])]

filtro2.to_csv("PrivateRoomMex.csv")
filtro2

,room_type,price,host_is_superhost,host_acceptance_rate,bathrooms,review_scores_cleanliness,host_identity_verified,instant_bookable,property_type
4,Private room,1114.0,0.0,99.0,1.0,4.80,0.0,0.0,Private room
6,Private room,340.0,1.0,75.0,1.0,4.61,1.0,0.0,Private room in rental unit
10,Private room,550.0,0.0,100.0,1.0,4.60,1.0,0.0,Private room in guest suite
12,Private room,1007.0,0.0,100.0,1.0,4.66,1.0,0.0,Private room in rental unit
13,Private room,310.0,0.0,99.0,1.0,4.79,1.0,0.0,Private room in rental unit
...,...,...,...,...,...,...,...,...,...
26253,Private room,381.0,0.0,38.0,1.0,4.80,1.0,0.0,Private room in guesthouse
26266,Private room,264.0,0.0,100.0,1.0,4.80,1.0,1.0,Private room in rental unit
26268,Private room,360.0,0.0,87.0,1.0,4.80,1.0,0.0,Private room in rental unit
26272,Private room,943.0,0.0,100.0,1.0,4.80,1.0,1.0,Room in hotel
26276,Private room,760.0,0.0,100.0,1.0,4.80,1.0,1.0,Room in hotel

In [78]:
#LOS REGISTROS DE LOS TIPOS DE CUARTO 
filtro3 = data[data['room_type'].isin(['Shared room'])]

filtro3.to_csv("SharedRoomMex.csv")
filtro3

,room_type,price,host_is_superhost,host_acceptance_rate,bathrooms,review_scores_cleanliness,host_identity_verified,instant_bookable,property_type
354,Shared room,303.0,0.0,100.0,2.0,4.70,1.0,0.0,Shared room in condo
2115,Shared room,2123.0,0.0,100.0,1.0,5.00,1.0,0.0,Shared room in rental unit
3163,Shared room,413.0,0.0,67.0,1.0,4.88,1.0,0.0,Shared room in rental unit
4035,Shared room,413.0,0.0,67.0,1.0,4.64,1.0,0.0,Shared room in rental unit
4270,Shared room,574.0,0.0,50.0,1.0,5.00,1.0,0.0,Shared room in condo
...,...,...,...,...,...,...,...,...,...
25922,Shared room,345.0,0.0,92.0,1.0,4.80,1.0,0.0,Shared room in guesthouse
26057,Shared room,23999.0,0.0,38.0,1.0,4.80,1.0,0.0,Shared room in bed and breakfast
26257,Shared room,201.0,0.0,64.0,2.0,4.80,1.0,0.0,Shared room in home
26259,Shared room,201.0,0.0,64.0,2.0,4.80,1.0,1.0,Shared room in home
26278,Shared room,227.0,0.0,92.0,2.0,4.80,1.0,1.0,Shared room in rental unit

In [79]:
#LOS REGISTROS DE LOS TIPOS DE CUARTO 
filtro4 = data[data['room_type'].isin(['Hotel room'])]

filtro4.to_csv("HotelRoomMex.csv")
filtro4

,room_type,price,host_is_superhost,host_acceptance_rate,bathrooms,review_scores_cleanliness,host_identity_verified,instant_bookable,property_type
14,Hotel room,3328.0,1.0,92.0,1.0,5.00,1.0,1.0,Room in serviced apartment
29,Hotel room,1114.0,1.0,92.0,0.0,5.00,1.0,1.0,Room in serviced apartment
52,Hotel room,1114.0,0.0,92.0,5.5,4.84,1.0,1.0,Room in serviced apartment
76,Hotel room,1114.0,0.0,92.0,2.0,4.94,1.0,1.0,Room in serviced apartment
77,Hotel room,1213.0,0.0,92.0,1.0,4.88,1.0,1.0,Room in serviced apartment
...,...,...,...,...,...,...,...,...,...
23066,Hotel room,4964.0,0.0,99.0,4.0,4.80,0.0,1.0,Room in hotel
23067,Hotel room,4964.0,0.0,99.0,4.0,4.80,0.0,1.0,Room in hotel
23068,Hotel room,4964.0,0.0,99.0,4.0,4.80,0.0,1.0,Room in hotel
23069,Hotel room,1833.0,0.0,99.0,1.0,4.80,0.0,1.0,Room in hotel
23070,Hotel room,1833.0,0.0,99.0,1.0,4.80,0.0,1.0,Room in hotel